.admin-panel-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 1000px;
  width: 90%;
}

.access-management-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.sending-forgotten-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  width: 1000px;
  border-bottom: 1px solid #ccc;
  margin: 5px auto;
}

.sending-forgotten-email-select {
  display: flex;
  width: 25%;
}

.sending-forgotten-email-list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sending-forgotten-email-button {
  margin: auto 10px;
  background-color: var(--selected-color);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

.sending-forgotten-email-selected-users {
  height: 100px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  text-align: left;
}

.sending-forgotten-email-selected-users::-webkit-scrollbar {
  width: 12px;
}

.sending-forgotten-email-selected-users::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

.sending-forgotten-email-selected-users::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.sending-forgotten-email-selected-users::-webkit-scrollbar-track {
  background-color: #fff;
}

.sending-forgotten-email-selected-users::-webkit-scrollbar-track:hover {
  background-color: #f0f0f0;
}

.create-project-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  margin: 10px auto;
  gap: 10px;
  border: 1px solid var(--board-color);
  border-radius: 10px;
}

.create-project-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.create-project-input-label {
  width: 150px;
}

.create-project-input input,
.create-project-input select,
.create-project-button button {
  width: 300px;
  padding: 10px;
  border: 1px solid var(--board-color);
  border-radius: 5px;
  margin: 20px;
  background-color: var(--card-color);
  color: var(--text-color);
}

.create-project-button button {
  cursor: pointer;
  background-color: var(--selected-color);
}

.create-project-button button:hover {
  background-color: var(--add-btn-hover);
}

/* USER  */

.create-user-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  margin: 10px auto;
  gap: 10px;
  border: 1px solid var(--board-color);
  border-radius: 10px;
}

.create-user-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.create-user-input-label {
  width: 150px;
}

.create-user-input input,
.create-user-input select,
.create-user-button button {
  width: 300px;
  padding: 10px;
  border: 1px solid var(--board-color);
  border-radius: 5px;
  margin: 20px;
  background-color: var(--card-color);
  color: var(--text-color);
}

.create-user-button button {
  cursor: pointer;
  background-color: var(--selected-color);
}

.create-user-button button:hover {
  background-color: var(--add-btn-hover);
}

/* Dropdown */
.users-dropdown {
  width: fit-content;
  padding: 10px 0;
}

.users-dropdown > label {
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  color: var(--text-color);
  text-align: left;
  transition: background-color 0.3s ease;
}

.users-dropdown:hover {
  background-color: var(--modal-color);
}

.users-dropdown-input {
  position: absolute;
  height: 300px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  overflow-y: auto;
}

.users-dropdown-input {
  display: flex;
  color: var(--text-color);
  text-align: left;
  background-color: var(--background-color);
  padding: 10px;
  margin: 10px 0 0;
  border: 1px solid var(--dark-background-color);
  width: max-content;
}

.users-dropdown-input > label {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.users-dropdown-input.active > label:hover {
  background-color: var(--modal-color);
}

.users-dropdown-input [type="checkbox"] {
  margin-right: 10px;
}

.users-dropdown-input [value] {
  padding-right: 10px;
}
