.projects-table {
  width: 100%;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  border-top: 1px solid var(--modal-color);
  border-bottom: 1px solid var(--modal-color);
  border-collapse: collapse; /* Merge cell borders */
}

.table-header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid var(--modal-color);
}

.table-row {
  border-bottom: 1px solid var(--modal-color);
}

.table-cell {
  padding: 16px;
  text-align: left;
}

.table-cell:has(.manager-project-link):hover {
  background-color: var(--dark-background-color);
}

.project-link {
  text-decoration: underline;
  color: var(--selected-color);
}

.manager-project-link {
  text-decoration: double;
  color: inherit;
  transition: background-color 0.3s ease;
}
