.search-container {
  display: flex;
  align-items: center;
}

.search-container label {
  margin-right: 10px;
}

.search-container input {
  padding: 8px 10px;
  border: 1px solid var(--dark-background-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: border-color 0.3s ease;
}

.search-container input:focus {
  outline: none;
  border-color: var(--selected);
}

.search-container {
  position: relative;
}

.search-wrapper {
  position: relative;
}

.search-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
