.filter-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align components to the left of the page */
  padding: 20px;
  background-color: var(--background-color);
  max-width: 1000px;
}

.filter-dropdown {
  margin-right: 20px;
  width: fit-content;
  padding: 10px 0;
}

.filter-dropdown > label {
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  padding: auto;
  color: var(--text-color);
  text-align: left;
  transition: background-color 0.3s ease;
}

.filter-dropdown:hover {
  background-color: var(--modal-color);
}

.filter-dropdown-input {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
}

.filter-dropdown-input {
  display: none;
}

.filter-dropdown-input.active {
  display: flex;
  color: var(--text-color);
  text-align: left;
  background-color: var(--background-color);
  padding: 10px;
  margin: 10px 0 0;
  border: 1px solid var(--dark-background-color);
  width: max-content;
}

.filter-dropdown-input.active > label {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-dropdown-input.active > label:hover {
  background-color: var(--modal-color);
}

.filter-dropdown-input.active [type="checkbox"] {
  margin-right: 10px;
}

.filter-dropdown-input.active [value] {
  padding-right: 10px;
}
